asgiref==3.2.7
astroid==2.4.2
boto3==1.14.34
botocore==1.17.34
Django==3.0.12
django-haystack==3.0b2
django-js-asset==1.2.2
django-machina==1.1.1
django-mptt==0.11.0
django-storages==1.9.1
django-widget-tweaks==1.4.8
docutils==0.15.2
#GDAL==3.0.4
geographiclib==1.50
geopy==1.21.0
isort==4.3.21
jmespath==0.10.0
lazy-object-proxy==1.4.3
markdown2==2.3.9
mccabe==0.6.1
Pillow==7.1.1
psycopg2==2.8.5
pylint==2.5.3
python-dateutil==2.8.1
pytz==2019.3
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
urllib3==1.25.10
wrapt==1.12.1
