{% extends "base.html" %}

{% load static %}

{% block menu %}
	<div class="ui four item secondary menu">
		<a class="header item" href="{% url 'home' %}">home</a>
		<a class="header selected item" href="{% url 'projects' %}">projects</a>
		<a class="header item" href="{% url 'posts' %}">posts</a>
		<a class="header item" href="">resume</a>
	</div>
{% endblock menu %}

{% block body %}

<div class="ui centered grid">
	<div class="ui row">
	<h3>Things I'm working on.</h3>
</div>
</div>


<div class="ui centered three stackable cards">
	{% for project in projects %}
	<a class="ui card" href="http://www.dog.com">
	  <div class="content">
	    <div class="header">{{ project.name }}</div>
	    <div class="meta">
	      <span class="category">{{ project.type }}</span>
	    </div>
	    <div class="description">
	      <p>{{ project.description }}</p>
	    </div>
	  </div>
	</a>
	{% endfor %}
</div>

{% endblock body %}