{% extends "base.html" %}

{% load static %}

{% block menu %}
	<div class="ui four item secondary menu">
		<a class="header item" href="{% url 'home' %}">home</a>
		<a class="header selected item" href="{% url 'projects' %}">projects</a>
		<a class="header item" href="{% url 'posts' %}">posts</a>
		<a class="header item" href="{% url 'resume' %}">resume</a>
	</div>
{% endblock menu %}

{% block body %}

<div class="ui centered grid">
	<div class="ui row">
	<h3>Things I'm working on.</h3>
	<p></p>
</div>
</div>


<div class="ui centered three stackable cards">
	{% if projects %}
	{% for project in projects %}
	<a class="ui raised card" href="/projects/{{ project.name|lower }}">
	  <div class="content">
	    <div class="header">{{ project.name }}</div>
	    <div class="meta">
	      <span class="category">{{ project.type }}</span>
	    </div>
	    <div class="description">
	      <p>{{ project.description }}</p>
	    </div>
	  </div>
	</a>
	{% endfor %}
	{% else %}
	<div class="ui segment">
		No Projects Available
	</div>
	{% endif %}
</div>

<div class="ui centered grid">
	<div class="ui row">
  {% if user.is_authenticated %}
	  <a class="ui button" href="{% url 'logout' %}">
		  <i class="sign-out icon"></i> {{ user.get_username }}
		</a>
	  {% else %}
		<a class="ui button" href="{% url 'login' %}">
      <i class="sign-in icon"></i> Sign-In
    </a>
	{% endif %}
  </div>
</div>
{% endblock body %}