{% extends "base.html" %}

{% load static %}

{% block menu %}
	<div class="ui four item secondary menu">
		<a class="header item" href="{% url 'home' %}">home</a>
		<a class="header item" href="{% url 'projects' %}">projects</a>
		<a class="header item" href="{% url 'posts' %}">posts</a>
		<a class="header item" href="{% url 'resume' %}">resume</a>
	</div>
{% endblock menu %}

{% block body %}
<div class="ui centered grid container">
	<div class="twelve wide column">
		<div class="ui stacked segment">
			<h3>Coming Soon ...</h3>
		</div>
	</div>
</div>
{% endblock body %}