/*main.css*/

.selected.item {
	font-style: italic;
}

a {
	color: black;
}

.footer a:hover, .footer a.item:hover {
	color: red !important;
	background-color: white !important;
}

.header-menu a:hover, .header-menu a.item:hover {
	color: red !important;
	background-color: white !important;
}

.footer {
/*	position: absolute;
	bottom: 1em;*/
	/*width: 100% !important;*/
	/*margin: 0 !important;*/
	/*padding: 1em !important;*/
	margin-top: 2em !important;
}

.meta {
	padding-top: 0.5em;
	text-decoration: underline;
}

.underline {
	text-decoration: underline;
}

.italic {
	font-style: italic;
}

.citation {
    padding-left: 2em;
    text-indent: -2em;
}
.citation.row {
	width: 80;
}

.marginless {
	margin: 0 !important;
}

.docs {
	margin-bottom: 1em;
}

#add-brewery {
  display: none;
}

#add-style {
  display: none;
}

#select-sub-style {
  display: none;
}
#add-sub-style {
  display: none;
}
.step.active .title {
  color: #21ba45 !important;
}