{% extends "base.html" %}

{% load static %}

{% block body %}

<div class="ui centered three stackable cards">

{% for recipe in recipes %}
	<a class="ui raised card" href="/projects/recipes/{{recipe.slug}}">
		<div class="image">
		  <img src="{{ recipe.photo.url }}">
		</div>
		<div class="content">
			<div class="header">{{ recipe.title }}</div>
			<div class="meta">
				<span>{{ recipe.cuisine }}</span>
			</div>
			<div class="description">
				<p>{{ recipe.get_category_display }}</p>
			</div>
			<div class="extra">
				<i class="calendar icon"></i>{{ recipe.added | date:"M d, Y"}}
			</div>
		</div>
	</a>
{% endfor %}
  {% if user.is_authenticated %}
	<a class="ui raised card" href="">
	  <div class="image">
		  <img src="{% static '/recipes/cooking.png' %}">
		</div>
		<div class="ui center aligned content">
  	  <div>
        <i class="add icon"></i>
        Add Recipe
      </div>
    </div>
  </a>
	{% endif %}
</div>

{% endblock body %}