{% extends "base.html" %}
{% load static %}

{% block body %}

{% if note %}

<div class="ui attached segment">
<h2>{{ note }}</h2>
<div class="ui buttons">
  <a class="ui blue button" href="{% url 'beers' %}">Check out the other beers</a>
  <div class="or"></div>
  <a class="ui green button" href="{% url 'add-brewery' %}">Add Another</a>
</div>

{% else %}

<div class="ui three top attached steps">
  <a class="link step" href="{% url 'add-brewery' %}">
    <i class="map icon"></i>
    <div class="content">
      <div class="title">Brewery</div>
      <div class="description">Where is the beer from?</div>
    </div>
  </a>
  <a class="link step" href="">
    <i class="dna icon"></i>
    <div class="content">
      <div class="title">Style</div>
      <div class="description">What type of beer is it?</div>
    </div>
  </a>
  <div class="active link step">
    <i class="beer icon"></i>
    <div class="content">
      <div class="title">Beer Details</div>
      <div class="description">How did you like it?</div>
    </div>
  </div>
</div>

<div class="ui attached segment">
  
<form class="ui form" enctype="multipart/form-data" action="{% url 'add-beer' %}" method="post">
    {% csrf_token %}
    {{ beerform }}
    <div class="ui field">
      <br>
      <input class="ui fluid primary button" type="submit" value="Add Beer">
    </div>
</form>

{% endif %}

</div>
{% endblock body %}