{% extends "base.html" %}

{% load static %}

{% block body %}
<div class="ui centered grid">
	<div class="ui row">
		<h3>Some Beers I've Had.</h3>
	</div>
	<div class="ui row">
		<h3>Add one <a href="{% url 'add-beer' %}"> here </a>
</h3>
	</div>
</div>

<div class="ui centered five stackable cards">
	{% for beer in beers %}
	<div class="ui raised card">
		<div class="image">
		  <img src="{{ beer.photo.url }}">
		</div>
		<div class="content">
			<div class="header">{{ beer.name }}</div>
			<p class="italic">{{ beer.brewery }}</p>
			<div class="underline">
				<span>{{ beer.style }}{% if beer.sub_style %} - {{ beer.sub_style }} {% endif %}</span>
			</div>
			<div class="description">
				<p>ABV: {{ beer.abv }}%</p>
			</div>
			<div class="meta"> 
				<div class="ui star rating" data-rating="{{ beer.rating }}" data-max-rating="3" data-tooltip="{{ beer.get_rating_display }}"></div>
			</div>			
			<div class="description">
				<p><i class="calendar plus icon"></i>{{ beer.date_had|date:"M d, Y" }}</p>
				{% if beer.first_time %}
				<p><i class="beer icon"></i>First Time</p>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock body %}